# OpenLane run outputs
Backend/openlane/runs/

# logs
*.log

# reports
*.rpt

# temporary files
tmp/
*.tmp

# libraries generated during runs
*.lib
Backend/openlane/runs/
Backend/openlane/synexp/
Backend/openlane/synexp/
